/*  COLOR PALETTE
    ---
    RED: #ff5e5b
    GREY: #d8d8d8
    CREAM: #ffffea
    LIGHT BLUE: #00cecb
    YELLOW: #ffed66  */

body {
  background-color: #00cecb;
  font-family: 'Montserrat', sans-serif;
}

main {
  text-align: center;
}

.heading {
  font-family: 'Lobster', cursive;
  font-size: 84px;
  color: #ffed66;
  text-align: center;
}

#game-container {
  display: inline-grid;
  /* small(16x22) medium.default(32x44) big(64x88) */
  justify-content: center;
  border: 80px solid #ff5e5b;
  border-radius: 20px;
  grid-gap: 1px;
  background-color: #aaaaaa;
  /* cursor: crosshair; */
}

#game-container > div {
  background-color: #d8d8d8;
}

.small-grid {
  grid-template-columns: repeat(22, auto);
}
.small-grid > div {
  height: 41px;
  width: 41px;
}

.medium-grid-default {
  grid-template-columns: repeat(44, auto);
}
.medium-grid-default > div {
  height: 20px;
  width: 20px;
}

.big-grid {
  grid-template-columns: repeat(88, auto);
}
.big-grid > div {
  height: 9.5px;
  width: 9.5px;
}
