/*  COLOR PALETTE
    ---
    RED: #ff5e5b
    GREY: #d8d8d8
    CREAM: #ffffea
    LIGHT BLUE: #00cecb
    YELLOW: #ffed66  */

body {
  background-color: #00cecb;
  font-family: 'Montserrat', sans-serif;
}

main {
  text-align: center;
}

.heading {
  font-family: 'Lobster', cursive;
  font-size: 84px;
  color: #ffed66;
  text-align: center;
}

#game-container {
  display: inline-grid;
  /* small(16x22) medium.default(32x44) big(64x88) */
  grid-template-columns: repeat(44, auto);
  justify-content: center;
  border: 80px solid #ff5e5b;
  border-radius: 20px;
  grid-gap: 1px;
  background-color: #aaaaaa;
}

#game-container > div {
  height: 20px;
  width: 20px;
  background-color: #d8d8d8;
}
